@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    &::-webkit-scrollbar {
        width: 4px;
        opacity: 0;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #c5c4c4a9;
        border-radius: 5px;
    }
}


@media (max-width: 809px) {
    .wrapper-chat {
        display: grid;
        height: 100vh;
        grid-template-columns: 100%;
        position: relative;
    
        .aside-chat-information {
            background-color: #f2f2f2;
            height: 100px;
            display: none;

            .developer-simancas-info {
                display: none;
            }

            .list-users-chat {
                padding: .4rem;
                overflow-y: auto;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                &::-webkit-scrollbar {
                    width: 4px;
                    height: 1px;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: #1d1d24a9;
                    border-radius: 5px;
                }

                .user-info {
                    display: grid;
                    grid-template-columns: 1fr;
                    align-items: center;
                    border-bottom: none;
                    padding: .4rem .2rem;

                    .name-user {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            margin-bottom: .4rem;
                        }

                        div {
                            margin: 0 1rem;
                            h5 {
                                font-size: .8rem;
                            }
    
                            span {
                                display: none;
                            }
                        }
                    }

                    .connected-date {
                        display: none;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: flex-end;
                        strong {
                            font-size: .9rem;
                            color: rgba($color: #000000, $alpha: .7);
                        }

                        span {
                            font-size: .7rem;
                        }
                    }

                }
            }
        }
    
        .chat-principal {
            position: relative;
            background-color: rgb(116, 107, 107);
            background-size: 150px;
            overflow-y: auto;
            overflow-x: hidden;
            display: grid;

            .history-msgs-chat {
                padding: 2rem;
                overflow-y: auto;
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &::-webkit-scrollbar {
                    width: 4px;
                    height: 0px;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: #c5c4c4a9;
                    border-radius: 5px;
                }

                .msg-box-friend, .msg-box-sender {
                    padding: .6rem 1rem;
                    border-radius: .4rem;
                    width: 95%;
                    display: grid;
                    grid-template-columns: 90% 10%;
                    margin: .4rem 0;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
        
                    .info-msg-box {
                        margin-left: 1rem;
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        span {
                            font-size: .7rem;
                            color: rgba($color: #000000, $alpha: .7);
                        }
        
                        i {
        
                        }
                    }
                }
        
                .msg-box-friend {
                    background-color: #fff;
                    transform: translateX(-1rem);
                }
        
                .msg-box-sender {
                    background-color: #dcf8c6;
                    transform: translateX(1rem);
                }
        
                .main-msg {
                    font-size: .95rem;
                }

            }
    
            
            form {
                background-color: #eeee;
                padding: 1rem;
                width: 100%;
                height: 50px;
                display: grid;
                grid-template-columns: 85% 10%;

                textarea {
                    border: unset;
                    padding: 1rem 2rem;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    border-radius: 2rem;
                    height: auto;
                    resize: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: .95rem;
                    display: flex;
                    justify-content: center;
                    
                    &:focus {
                        outline: none;
                    }

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
    
                button {
                    background-color: unset;
                    border: unset;
                    cursor: pointer;
    
                    i {
                        font-size: 1.1rem;
                        transition: all ease .3s;
                    }

                    &:hover {
                        i {
                            color: rgb(116, 116, 221);
                        }
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            .greeting-other-user {
                display: none;
            }

            .somebody-is-writing {
                position: absolute;
                bottom: 4.5rem;
                left: 50%;
                transform: translateX(-50%);
                border-radius: .2rem;
                width: 80%;
                z-index: 120;
                background-color: #00bfa5;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .4rem 1rem;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .2);
                /*Quit this*/
                display: none;

                span {
                    font-size: .9rem;

                    animation: tilde .8s alternate infinite;
                }

                @keyframes tilde {
                    0% {
                        color: #fff;
                    }

                    100% {
                        color: rgb(223, 219, 219);
                    }
                }
            }
        }

        .user-option-friendly {
            display: none;
        }
    }

    .fixed-wrapper-input {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .7);
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;
        .content-fixed-wrapper {
            padding: 2rem;
            display: flex;
            position: relative;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            width: 80%;
            border-radius: .3rem;

            .header-fixed-wrapper {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                text-align: center;
                i {
                    font-size: 3rem;
                }

                .info-welcome {
                    margin: .4rem 0;
                    h3 {
                        font-size: 1.2rem;

                        strong {
                            color: #00bfa5;
                            margin: 0 .4rem;
                        }
                    }
                }
            }
    
            .body-fixed-wrapper {
                margin: 1rem 0;
                text-align: center;
                h5 {
                    font-size: 1.2rem;
                }
    
                form {
                    margin: .4rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    input[type="text"] {
                        background-color: unset;
                        border: unset;
                        border: 1px solid rgba($color: #000000, $alpha: .2);
                        padding: .6rem 2rem;
                        margin-right: .2rem;
                        border-radius: .2rem;
                        font-family: 'Roboto', sans-serif;

                        &:focus {
                            outline: none;
                        }
                    }
    
                    button {
                        background-color: unset;
                        border: unset;
                        background-color: #00bfa5;
                        padding: .6rem;
                        border-radius: .2rem;
                        cursor: pointer;
                        transition: all ease .2s;

                        i {
                            color: #fff;
                        }

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            background-color: #a2aaa9;
                        }
                    }
                }
            }

            .bg-content {
                background-color: #00bfa5;
                position: absolute;
                top: 0;
                right: 0;
                width: 60px;
                height: 60px;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .2);
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 1.1rem;
                    color: #fff;
                }
            }

        }
    }
}

@media (min-width: 810px) and (max-width: 1003px) {
    .wrapper-chat {
        display: grid;
        height: 100vh;
        grid-template-columns: 40% 60%;
        position: relative;
    
        .aside-chat-information {
            background-color: #f2f2f2;

            .developer-simancas-info {
                padding: 1rem;
                background-color: #00bfa5;
                display: flex;
                align-items: center;
                border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
                justify-content: center;

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }

                .info-developer {
                    margin: 0 1rem;
                    color: #fff;

                    h1 {
                        font-size: 1.2rem;
                    }

                    span {
                        font-size: .9rem;
                    }
                }

                .rrss-developer {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: .2rem 0;

                    a {
                        color: rgba($color: #ffff, $alpha: .9);
                        text-decoration: none;
                        margin: 0 .6rem 0 0;
                        font-size: 1.4rem;
                    }
                }
            }

            .list-users-chat {
                padding: 1rem .2rem;
                overflow-y: auto;
                height: 100vh;

                &::-webkit-scrollbar {
                    width: 4px;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: #1d1d24a9;
                    border-radius: 5px;
                }

                .user-info {
                    display: grid;
                    grid-template-columns: 3fr 1fr;
                    align-items: center;
                    border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
                    padding: .4rem .4rem;
                    cursor: pointer;

                    .name-user {
                        display: flex;
                        align-items: center;

                        img {
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                        }

                        div {
                            margin: 0 1rem;
                            h5 {
                                font-size: .9rem;
                            }
    
                            span {
                                font-size: .8rem;
                            }
                        }
                    }

                    .connected-date {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: flex-end;
                        text-align: right;
                        strong {
                            font-size: .7rem;
                            color: rgba($color: #000000, $alpha: .7);
                        }

                        span {
                            font-size: .6rem;
                        }
                    }

                    &:hover {
                        background-color: rgb(223, 223, 223);
                    }

                }
            }
        }
    
        .chat-principal {
            position: relative;
            background-color: rgb(116, 107, 107);
            background-size: 150px;
            overflow-y: auto;
            overflow-x: hidden;
            display: grid;

            .history-msgs-chat {
                padding: 2rem;
                overflow-y: auto;
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &::-webkit-scrollbar {
                    width: 4px;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: #c5c4c4a9;
                    border-radius: 5px;
                }

                .msg-box-friend, .msg-box-sender {
                    padding: .6rem 1rem;
                    border-radius: .4rem;
                    width: 95%;
                    display: grid;
                    grid-template-columns: 90% 10%;
                    margin: .4rem 0;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
        
                    .info-msg-box {
                        margin-left: 1rem;
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        span {
                            font-size: .7rem;
                            color: rgba($color: #000000, $alpha: .7);
                        }
        
                        i {
        
                        }
                    }
                }
        
                .msg-box-friend {
                    background-color: #fff;
                }
        
                .msg-box-sender {
                    background-color: #dcf8c6;
                    transform: translateX(1rem);
                }
        
                .main-msg {
                    font-size: .95rem;
                }

            }
    
        
            form {
                background-color: #eeee;
                padding: 1rem;
                width: 100%;
                height: 50px;
                position: absolute;
                bottom: 0;
                left: 0;
                display: grid;
                grid-template-columns: 85% 10%;

                textarea {
                    border: unset;
                    padding: 1rem 2rem;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    border-radius: 2rem;
                    height: auto;
                    resize: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: .95rem;
                    display: flex;
                    justify-content: center;
                    
                    &:focus {
                        outline: none;
                    }

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
    
                button {
                    background-color: unset;
                    border: unset;
                    cursor: pointer;
    
                    i {
                        font-size: 1.1rem;
                        transition: all ease .3s;
                    }

                    &:hover {
                        i {
                            color: rgb(116, 116, 221);
                        }
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            .greeting-other-user {
                position: absolute;
                top: 2rem;
                right: 0;
                background-color: #00bfa5;
                padding: 1rem;
                width: 300px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                border-radius: 4rem 0 0 4rem;
                z-index: 100;
                color: #fff;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                /*Quit this*/
                display: none;

                h5 {
                    font-size: 1.3rem;
                }

                span {
                    font-weight: bold;
                    margin: .2rem 0;
                }
            }

            .somebody-is-writing {
                position: absolute;
                bottom: 4.5rem;
                left: 50%;
                transform: translateX(-50%);
                border-radius: .2rem;
                width: 80%;
                z-index: 120;
                background-color: #00bfa5;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .4rem 1rem;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .2);
                /*Quit this*/
                display: none;

                span {
                    font-size: .9rem;

                    animation: tilde .8s alternate infinite;
                }

                @keyframes tilde {
                    0% {
                        color: #fff;
                    }

                    100% {
                        color: rgb(223, 219, 219);
                    }
                }
            }
        }

        .user-option-friendly {
            position: absolute;
            overflow-x: hidden;
            top: 0;
            left: 0;
            width: 40%;
            height: 100%;
            overflow-y: hidden;
            z-index: 10;
            background-color: #fff;
            /*Quit this*/
            display: none;

            .content-user-option {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
                width: 100%;

                .header-user-option {
                    background-color: #00bfa5;
                    padding: 2rem;
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    color: #fff;

                    span {
                        margin-left: 2rem;
                        font-size: 1.2rem;
                        cursor: pointer;
                    }

                    h4 {
                        margin: 0 1rem;
                        font-size: 1.2rem;
                    }
                }

                .user-info-profile {
                    display: flex;
                    align-items: center;
                    padding: 2rem;
                    img {
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
        
                    }

                    .info-profile-user {
                        padding: 0 1rem;
                        h2 {
                            margin: .2rem 0;
                            font-size: 1rem;
                            font-weight: 500;
                            color: rgba($color: #000000, $alpha: .9);
                        }
            
                        p {
                            font-size: .9rem;
                            color: rgba($color: #000000, $alpha: .8);
                        }
                    }

                }

                
    
                .greetings-user-option {
                    margin: 1rem 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    button {
                        background-color: unset;
                        border: unset;
                        width: 100%;
                        margin: 0 .2rem;
                        border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
                        padding: .2rem 1rem;
                        border-radius: .3rem;
                        color: rgba($color: #000000, $alpha: .8);
                        font-size: 1.1rem;
                        cursor: pointer;
                        text-align: left;
                        padding: 1rem;

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            background-color: #f2f2f2;
                        }

                    }
                }

                .btn-close {
                    position: absolute;
                    top: .5rem;
                    right: 1rem;
                    font-size: 2rem;
                    padding: 1rem;
                    height: 20px;
                    width: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all ease .2s;

                    &:hover {
                        background-color: #eeee;
                    }
                }

            }
        }
    }

    .fixed-wrapper-input {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .7);
        display: flex;
        justify-content: center;
        align-items: center;
        .content-fixed-wrapper {
            padding: 2rem;
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            width: 70%;
            border-radius: .3rem;

            .header-fixed-wrapper {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                text-align: center;
                i {
                    font-size: 3rem;
                }

                .info-welcome {
                    margin: .4rem 0;
                    h3 {
                        font-size: 2rem;
                        display: flex;
                        align-items: center;

                        strong {
                            color: #00bfa5;
                            margin: 0 .4rem;
                        }
                    }
                }
            }
    
            .body-fixed-wrapper {
                margin: 1rem 0;
                text-align: center;
                h5 {
                    font-size: 1.4rem;
                }
    
                form {
                    margin: .4rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    input[type="text"] {
                        background-color: unset;
                        border: unset;
                        border: 1px solid rgba($color: #000000, $alpha: .2);
                        padding: 1rem 2rem;
                        margin-right: .2rem;
                        border-radius: .2rem;
                        font-family: 'Roboto', sans-serif;

                        &:focus {
                            outline: none;
                        }
                    }
    
                    button {
                        background-color: unset;
                        border: unset;
                        background-color: #00bfa5;
                        padding: 1rem;
                        border-radius: .2rem;
                        cursor: pointer;
                        transition: all ease .2s;

                        i {
                            color: #fff;
                        }

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            background-color: #a2aaa9;
                        }
                    }
                }
            }

            .bg-content {
                background-color: #00bfa5;
                position: absolute;
                top: 0;
                right: 0;
                width: 80px;
                height: 80px;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .2);
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 1.1rem;
                    color: #fff;
                }
            }

        }
    }
}

@media (min-width: 1004px) {
    .wrapper-chat {
        display: grid;
        position: relative;
        height: 600px;
        grid-template-columns: 40% 60%;
    
        .aside-chat-information {
            background-color: #f2f2f2;
            height: 600px;

            .developer-simancas-info {
                padding: 1rem;
                background-color: #00bfa5;
                display: flex;
                align-items: center;
                border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
                justify-content: center;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }

                .info-developer {
                    margin: 0 1rem;
                    color: #fff;

                    h1 {
                        font-size: 1.2rem;
                    }

                    span {
                        font-size: .9rem;
                    }
                }

                .rrss-developer {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    margin: .2rem 0;

                    a {
                        color: rgba($color: #ffff, $alpha: .9);
                        text-decoration: none;
                        margin: 0 .6rem 0 0;
                        font-size: 1.4rem;
                    }
                }
            }

            .list-users-chat {
                padding: 1rem .2rem;
                overflow-y: auto;
                height: 100vh;

                &::-webkit-scrollbar {
                    width: 4px;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: #1d1d24a9;
                    border-radius: 5px;
                }

                .user-info {
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    align-items: center;
                    border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
                    padding: .4rem .4rem;
                    cursor: pointer;

                    .name-user {
                        display: flex;
                        align-items: center;

                        img {
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                        }

                        div {
                            margin: 0 1rem;
                            h5 {
                                font-size: 1.1rem;
                            }
    
                            span {
                                font-size: .9rem;
                            }
                        }
                    }

                    .connected-date {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        justify-content: flex-end;
                        text-align: right;
                        strong {
                            font-size: .9rem;
                            color: rgba($color: #000000, $alpha: .7);
                        }

                        span {
                            font-size: .7rem;
                        }
                    }

                    &:hover {
                        background-color: rgb(223, 223, 223);
                    }

                }
            }
        }
    
        .chat-principal {
            position: relative;
            height: 600px;
            background-color: rgb(116, 107, 107);
            background-size: 150px;
            overflow-y: auto;
            overflow-x: hidden;
            display: grid;

            .history-msgs-chat {
                padding: 2rem;
                overflow-y: auto;
                width: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &::-webkit-scrollbar {
                    width: 4px;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: #c5c4c4a9;
                    border-radius: 5px;
                }

                .msg-box-friend, .msg-box-sender {
                    padding: .6rem 1rem;
                    border-radius: .4rem;
                    width: 95%;
                    display: grid;
                    grid-template-columns: 90% 10%;
                    margin: .4rem 0;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
        
                    .info-msg-box {
                        margin-left: 1rem;
                        display: flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        span {
                            font-size: .7rem;
                            color: rgba($color: #000000, $alpha: .7);
                        }
        
                        i {
        
                        }
                    }
                }
        
                .msg-box-friend {
                    background-color: #fff;
                }
        
                .msg-box-sender {
                    background-color: #dcf8c6;
                    transform: translateX(1rem);
                }
        
                .main-msg {
                    font-size: .95rem;
                }

            }
    
        
            form {
                background-color: #eeee;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 1rem;
                width: 100%;
                height: 50px;
                display: grid;
                grid-template-columns: 85% 10%;

                textarea {
                    border: unset;
                    padding: 1rem 2rem;
                    border: 1px solid rgba($color: #000000, $alpha: .1);
                    border-radius: 2rem;
                    height: auto;
                    resize: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: .95rem;
                    display: flex;
                    justify-content: center;
                    
                    &:focus {
                        outline: none;
                    }

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
    
                button {
                    background-color: unset;
                    border: unset;
                    cursor: pointer;
    
                    i {
                        font-size: 1.1rem;
                        transition: all ease .3s;
                    }

                    &:hover {
                        i {
                            color: rgb(116, 116, 221);
                        }
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }

            .greeting-other-user {
                position: absolute;
                top: 2rem;
                right: 0;
                background-color: #00bfa5;
                padding: 1rem;
                width: 400px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                border-radius: 4rem 0 0 4rem;
                z-index: 100;
                color: #fff;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .1);
                /*Quit this*/
                display: none;

                h5 {
                    font-size: 1.4rem;
                }

                span {
                    font-weight: bold;
                    margin: .2rem 0;
                }
            }

            .somebody-is-writing {
                position: absolute;
                bottom: 4.5rem;
                left: 50%;
                transform: translateX(-50%);
                border-radius: .2rem;
                width: 80%;
                z-index: 120;
                background-color: #00bfa5;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .4rem 1rem;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .2);
                /*Quit this*/
                display: none;

                span {
                    font-size: .9rem;

                    animation: tilde .8s alternate infinite;
                }

                @keyframes tilde {
                    0% {
                        color: #fff;
                    }

                    100% {
                        color: rgb(223, 219, 219);
                    }
                }
            }
        }

        .user-option-friendly {
            position: absolute;
            overflow-x: hidden;
            top: 0;
            left: 0;
            width: 40%;
            height: 100%;
            overflow-y: hidden;
            z-index: 10;
            background-color: #fff;
            /*Quit this*/
            display: none;

            .content-user-option {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                height: 100%;
                width: 100%;

                .header-user-option {
                    background-color: #00bfa5;
                    padding: 2rem;
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    color: #fff;

                    span {
                        margin-left: 2rem;
                        font-size: 1.2rem;
                        cursor: pointer;
                    }

                    h4 {
                        margin: 0 1rem;
                        font-size: 1.2rem;
                    }
                }

                .user-info-profile {
                    display: flex;
                    align-items: center;
                    padding: 2rem;
                    img {
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
        
                    }

                    .info-profile-user {
                        padding: 0 1rem;
                        h2 {
                            margin: .2rem 0;
                            font-size: 1rem;
                            font-weight: 500;
                            color: rgba($color: #000000, $alpha: .9);
                        }
            
                        p {
                            font-size: .9rem;
                            color: rgba($color: #000000, $alpha: .8);
                        }
                    }

                }

                
    
                .greetings-user-option {
                    margin: 1rem 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    button {
                        background-color: unset;
                        border: unset;
                        width: 100%;
                        margin: 0 .2rem;
                        border-bottom: 1px solid rgba($color: #000000, $alpha: .1);
                        padding: .2rem 1rem;
                        border-radius: .3rem;
                        color: rgba($color: #000000, $alpha: .8);
                        font-size: 1.1rem;
                        cursor: pointer;
                        text-align: left;
                        padding: 1rem 2rem;

                        i {
                            margin-right: .4rem;
                        }

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            background-color: #f2f2f2;
                        }

                    }
                }

            }

            &.active {
                display: block;
            }
        }
    }

    .fixed-wrapper-input {
        z-index: 999;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .7);
        display: flex;
        justify-content: center;
        align-items: center;
        .content-fixed-wrapper {
            position: relative;
            padding: 2rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            width: 50%;
            border-radius: .3rem;

            .header-fixed-wrapper {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                text-align: center;
                i {
                    font-size: 3rem;
                }

                .info-welcome {
                    margin: .4rem 0;
                    h3 {
                        font-size: 2rem;
                        display: flex;
                        align-items: center;

                        strong {
                            color: #00bfa5;
                            margin: 0 .4rem;
                        }
                    }
                }
            }
    
            .body-fixed-wrapper {
                margin: 1rem 0;
                text-align: center;
                h5 {
                    font-size: 1.4rem;
                }
    
                form {
                    margin: .4rem;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    input[type="text"] {
                        background-color: unset;
                        border: unset;
                        border: 1px solid rgba($color: #000000, $alpha: .2);
                        padding: 1rem 2rem;
                        margin-right: .2rem;
                        font-size: 1.2rem;
                        border-radius: .2rem;
                        font-family: 'Roboto', sans-serif;

                        &:focus {
                            outline: none;
                        }
                    }
    
                    button {
                        background-color: unset;
                        border: unset;
                        background-color: #00bfa5;
                        padding: 1.3rem;
                        border-radius: .2rem;
                        cursor: pointer;
                        transition: all ease .2s;

                        i {
                            color: #fff;
                        }

                        &:focus {
                            outline: none;
                        }

                        &:hover {
                            background-color: #a2aaa9;
                        }
                    }
                }
            }

            .bg-content {
                background-color: #00bfa5;
                position: absolute;
                top: 0;
                right: 0;
                width: 80px;
                height: 80px;
                box-shadow: 1px 1px 3px 1px rgba($color: #000000, $alpha: .2);
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 1.1rem;
                    color: #fff;
                }
            }

        }
    }
}